# Ignore virtual environment
venv/
__pycache__/

# Ignore data and models
data/
models/*.pkl

# Ignore notebooks outputs
*.ipynb_checkpoints/

# Ignore PDF / Docs
Documents/
*.pdf

# Ignore Streamlit cache
.streamlit/

# System files
.DS_Store
